In [7]:
import pandas as pd
print(' РН созданные 2021-03-23')

 РН созданные 2021-03-23

In [10]:
orders = pd.read_csv('23-03-2021.csv')
orders = orders[orders['CREATE_DATE'] == '2021-03-23 00:00:00']
by_contracts = orders.groupby('CONTRACT_NAME').count()
by_contracts = by_contracts[['ROWID']]
by_contracts = by_contracts.rename(columns={'ROWID':'Всего РН'})
print('Все расходные накладные с группировкой по контрактам')
by_contracts

Все расходные накладные с группировкой по контрактам

               Всего РН
CONTRACT_NAME
ЗАМ                 267
ЛИМО                176
МАК ВИН             553
ПИВО                224
Сандора             248
ХОЛОД               703

In [11]:
### Все расходные накладные исключая контракт 'ПИВО' c группировкой по создателю
orders_created_by = orders[orders['CONTRACT_NAME'] != 'ПИВО'].groupby('CREATED_BY').count()
orders_created_by = orders_created_by[['ROWID']].sort_values('ROWID',ascending=False)
orders_created_by = orders_created_by.rename(columns={"ROWID":"Всего создано"})
print('Все расходные накладные исключая контракт ПИВО c группировкой по создавшему')
orders_created_by

Все расходные накладные исключая контракт ПИВО c группировкой по создавшему

               Всего создано
CREATED_BY
admin                    848
chernysheva              182
kharchenko.v             161
bulak                    155
kokhan                   150
ksenofontova             101
golovina                  74
shchikovskaya             58
shcherbopian              49
sachivkina                45
markova                   37
ta                        34
kryat                     32
shumilina                 12
komarova                   4
torubara                   3
diachok                    1
rybkina                    1

In [12]:
except_bear = orders[orders['CONTRACT_NAME'] != 'ПИВО'].groupby('CONTRACT_NAME').count()
except_bear = except_bear[['ROWID']]
except_bear = except_bear.rename(columns={'ROWID':'Всего РН'})
print('Все расходные накладные с группировкой по контрактам исключая контракт ПИВО')
except_bear

Все расходные накладные с группировкой по контрактам исключая контракт ПИВО

               Всего РН
CONTRACT_NAME
ЗАМ                 267
ЛИМО                176
МАК ВИН             553
Сандора             248
ХОЛОД               703

In [13]:
distributor_mobile = orders[orders['CONTRACT_NAME'] != 'ПИВО']
distributor_mobile = distributor_mobile[distributor_mobile['CREATED_BY'] == 'admin'].groupby('CONTRACT_NAME').count()
distributor_mobile = distributor_mobile[['ROWID']]
distributor_mobile = distributor_mobile.rename(columns={'ROWID':'Distributor.Mobile'})
print('Все расходные накладные с группировкой по контрактам созданные Distributor.Mobile 3.52')
distributor_mobile

Все расходные накладные с группировкой по контрактам созданные Distributor.Mobile 3.52

               Distributor.Mobile
CONTRACT_NAME
ЗАМ                           130
ЛИМО                           64
МАК ВИН                       253
Сандора                        93
ХОЛОД                         308

In [14]:
report = pd.concat([except_bear,distributor_mobile], axis=1, join="inner")
report['%'] = round(report['Distributor.Mobile']/report['Всего РН'] * 100)
print('Процент создания РН в Distributor.Mobile')
report

Процент создания РН в Distributor.Mobile

               Всего РН  Distributor.Mobile     %
CONTRACT_NAME
ЗАМ                 267                 130  49.0
ЛИМО                176                  64  36.0
МАК ВИН             553                 253  46.0
Сандора             248                  93  38.0
ХОЛОД               703                 308  44.0