In [1]:
import pandas as pd
print(' РН созданные 2021-03-22')

 РН созданные 2021-03-22

In [2]:
orders = pd.read_csv('with_transactor_as_v_td_dic_transactor_.csv')
orders = orders[orders['CREATE_DATE'] == '2021-03-22 00:00:00']
by_contracts = orders.groupby('CONTRACT_NAME').count()
by_contracts = by_contracts[['ROWID']]
by_contracts = by_contracts.rename(columns={'ROWID':'Всего РН'})
print('Все расходные накладные с группировкой по контрактам')
by_contracts

Все расходные накладные с группировкой по контрактам

               Всего РН
CONTRACT_NAME
ЗАМ                 411
ЛИМО                210
МАК ВИН             711
ПИВО                271
Сандора             365
ХОЛОД              1058

In [3]:
### Все расходные накладные исключая контракт 'ПИВО' c группировкой по создателю
orders_created_by = orders[orders['CONTRACT_NAME'] != 'ПИВО'].groupby('CREATED_BY').count()
orders_created_by = orders_created_by[['ROWID']].sort_values('ROWID',ascending=False)
orders_created_by = orders_created_by.rename(columns={"ROWID":"Всего создано"})
print('Все расходные накладные исключая контракт ПИВО c группировкой по создавшему')
orders_created_by

Все расходные накладные исключая контракт ПИВО c группировкой по создавшему

               Всего создано
CREATED_BY
admin                   1321
kokhan                   262
kharchenko.v             229
chernysheva              212
bulak                    177
ksenofontova             125
shchikovskaya             87
golovina                  77
markova                   74
sachivkina                58
shcherbopian              57
kryat                     45
shumilina                 11
potapov                    5
klimov                     5
krasnikova                 4
kuteyko_n                  2
kozyrev                    2
kovalenko                  1
diachok                    1

In [4]:
except_bear = orders[orders['CONTRACT_NAME'] != 'ПИВО'].groupby('CONTRACT_NAME').count()
except_bear = except_bear[['ROWID']]
except_bear = except_bear.rename(columns={'ROWID':'Всего РН'})
print('Все расходные накладные с группировкой по контрактам исключая контракт ПИВО')
except_bear

Все расходные накладные с группировкой по контрактам исключая контракт ПИВО

               Всего РН
CONTRACT_NAME
ЗАМ                 411
ЛИМО                210
МАК ВИН             711
Сандора             365
ХОЛОД              1058

In [5]:
distributor_mobile = orders[orders['CONTRACT_NAME'] != 'ПИВО']
distributor_mobile = distributor_mobile[distributor_mobile['CREATED_BY'] == 'admin'].groupby('CONTRACT_NAME').count()
distributor_mobile = distributor_mobile[['ROWID']]
distributor_mobile = distributor_mobile.rename(columns={'ROWID':'Distributor.Mobile'})
print('Все расходные накладные с группировкой по контрактам созданные Distributor.Mobile 3.52')
distributor_mobile

Все расходные накладные с группировкой по контрактам созданные Distributor.Mobile 3.52

               Distributor.Mobile
CONTRACT_NAME
ЗАМ                           217
ЛИМО                           75
МАК ВИН                       380
Сандора                       149
ХОЛОД                         500

In [6]:
report = pd.concat([except_bear,distributor_mobile], axis=1, join="inner")
report['%'] = round(report['Distributor.Mobile']/report['Всего РН'] * 100)
print('Процент создания РН в Distributor.Mobile')
report

Процент создания РН в Distributor.Mobile

               Всего РН  Distributor.Mobile     %
CONTRACT_NAME
ЗАМ                 411                 217  53.0
ЛИМО                210                  75  36.0
МАК ВИН             711                 380  53.0
Сандора             365                 149  41.0
ХОЛОД              1058                 500  47.0