In [19]:
import pandas as pd
creteria0 = '{} 00:00:00'.format('22-03-2021.csv'.split('.')[0])
orders0 = pd.read_csv('22-03-2021.csv')
orders0 = orders0[orders0['CREATE_DATE'] == '2021-03-22 00:00:00']
creteria1 = '{} 00:00:00'.format('23-03-2021.csv'.split('.')[0])
orders1 = pd.read_csv('23-03-2021.csv')
orders1 = orders1[orders1['CREATE_DATE'] == '2021-03-23 00:00:00']

creteria2 = '{} 00:00:00'.format('24-03-2021.csv'.split('.')[0])
orders2 = pd.read_csv('24-03-2021.csv')
orders2 = orders2[orders2['CREATE_DATE'] == '2021-03-24 00:00:00']


distributor_mobile0 = orders0[orders0['CONTRACT_NAME'] != 'ПИВО']
distributor_mobile0 = distributor_mobile0[distributor_mobile0['CREATED_BY'] == 'admin'].groupby('CONTRACT_NAME').count()
distributor_mobile0 = distributor_mobile0[['ROWID']]
distributor_mobile0 = distributor_mobile0.rename(columns={'ROWID':'Distributor.Mobile'})

distributor_mobile1 = orders1[orders1['CONTRACT_NAME'] != 'ПИВО']
distributor_mobile1 = distributor_mobile1[distributor_mobile1['CREATED_BY'] == 'admin'].groupby('CONTRACT_NAME').count()
distributor_mobile1 = distributor_mobile1[['ROWID']]
distributor_mobile1 = distributor_mobile1.rename(columns={'ROWID':'Distributor.Mobile'})

distributor_mobile2 = orders2[orders2['CONTRACT_NAME'] != 'ПИВО']
distributor_mobile2 = distributor_mobile2[distributor_mobile2['CREATED_BY'] == 'admin'].groupby('CONTRACT_NAME').count()
distributor_mobile2 = distributor_mobile2[['ROWID']]
distributor_mobile2 = distributor_mobile2.rename(columns={'ROWID':'Distributor.Mobile'})


except_bear0 = orders0[orders0['CONTRACT_NAME'] != 'ПИВО'].groupby('CONTRACT_NAME').count()
except_bear0 = except_bear0[['ROWID']]
except_bear0 = except_bear0.rename(columns={'ROWID':'Всего РН'})

except_bear1 = orders1[orders1['CONTRACT_NAME'] != 'ПИВО'].groupby('CONTRACT_NAME').count()
except_bear1 = except_bear1[['ROWID']]
except_bear1 = except_bear1.rename(columns={'ROWID':'Всего РН'})

except_bear2 = orders2[orders2['CONTRACT_NAME'] != 'ПИВО'].groupby('CONTRACT_NAME').count()
except_bear2 = except_bear2[['ROWID']]
except_bear2 = except_bear2.rename(columns={'ROWID':'Всего РН'})


report0 = pd.concat([except_bear0,distributor_mobile0], axis=1, join="inner")
report0['%'] = round(report0['Distributor.Mobile']/report0['Всего РН'] * 100)
report1 = pd.concat([except_bear1,distributor_mobile1], axis=1, join="inner")
report1['%'] = round(report1['Distributor.Mobile']/report1['Всего РН'] * 100)
report2 = pd.concat([except_bear2,distributor_mobile2], axis=1, join="inner")
report2['%'] = round(report2['Distributor.Mobile']/report2['Всего РН'] * 100)

In [22]:
report = pd.concat([report0,report1, report2], axis=1, join="inner")
print('22.03 -> 23.03 -> 24.03')
report

22.03 -> 23.03 -> 24.03

,Всего РН,Distributor.Mobile,%,Всего РН,Distributor.Mobile,%,Всего РН,Distributor.Mobile,%
CONTRACT_NAME,,,,,,,,,
ЗАМ,411,217,53.0,321,151,47.0,261,127,49.0
ЛИМО,210,75,36.0,192,68,35.0,197,61,31.0
МАК ВИН,711,380,53.0,608,255,42.0,520,309,59.0
Сандора,365,149,41.0,329,147,45.0,253,137,54.0
ХОЛОД,1058,500,47.0,848,350,41.0,692,340,49.0